* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #027566;
    border-bottom: 12px solid #ffffff;
    border-top: 12px solid #ffffff;
    color: #ffffff;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.8px;
}

header button {
    background-color: #ffffff;
    border: #014d42 solid 1px;
    color: #000000;
    margin-left: 20px;
}

header button,
form button {
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

header button:hover {
    background-color: #808080;
    transition: ease-in-out 0.5s;
}

form {
    background-color: #02554a;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.8px;
}

input {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
}

form button {
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    color: #000000;
    margin-left: 10px;
}

form button:hover {
    background-color: #808080;
    color: aliceblue;
    transition: ease-in-out 0.5s;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
ul {
    margin-top: 50px;
    font-size: 22px;
    color: #000000;
    list-style: none;
}

li {
    padding-bottom: 4px;
    cursor: pointer;
}

li:hover {
    color: #008b3f;
}

.tarefaRealizada {
    text-decoration: line-through;
}
